{% extends 'base.html' %}
{% block content %}

 <!-- ======= Intro Section ======= -->
 <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active banner1">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">We offer modern fashions, just for you</h2>
                <p class="animate__animated animate__fadeInUp">Make an order today and get the best service.</p>
                <a href="#featured-services" class="btn-get-started scrollto animate__animated animate__fadeInUp">View Products</a>
              </div>
            </div>
          </div>

          <div class="carousel-item banner2">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">Shirts Category</h2>
                <p class="animate__animated animate__fadeInUp">We have shirts for women,men and children. The prices are customer friendly. Make an order now</p>
                <a href="#featured-services" class="btn-get-started scrollto animate__animated animate__fadeInUp">View Products</a>
              </div>
            </div>
          </div>

          <div class="carousel-item banner3">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">General Category</h2>
                <p class="animate__animated animate__fadeInUp">Here we offer trousers for both women and men, blouses,skirts, sweaters and many other demanding products. Check our products and make an order now</p>
                <a href="#featured-services" class="btn-get-started scrollto animate__animated animate__fadeInUp">View Products</a>
              </div>
            </div>
          </div>

          <div class="carousel-item banner4">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">Suit Category</h2>
                <p class="animate__animated animate__fadeInUp">We have suits combinations for both women and men. Check on our suit shop and make an order now.</p>
                <a href="#featured-services" class="btn-get-started scrollto animate__animated animate__fadeInUp">View Products</a>
              </div>
            </div>
          </div>

          <div class="carousel-item banner5">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">Shoes Category</h2>
                <p class="animate__animated animate__fadeInUp">We have different shoe designs for men, women and children. Check on our shoe shop and make an order today.</p>
                <a href="#featured-services" class="btn-get-started scrollto animate__animated animate__fadeInUp">View Products</a>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </section><!-- End Intro Section -->
{% endblock %}
