{% load static %}
<!-- ======= Header ======= -->
<header id="header" class="fixed-top header-transparent">
    <div class="container-fluid">

      <div class="row justify-content-center">
        <div class="col-xl-11 d-flex align-items-center">
          <h1 class="logo mr-auto"><a href="{url 'index' %}">Holla Fashion</a></h1>
          <!-- image logo -->
          <!-- <a href="" class="logo mr-auto"><img src="{% static 'assets/img/parrot_icon' %}" alt="" class="img-fluid"></a> -->

          <nav class="nav-menu d-none d-lg-block">
            <ul>
              <li class="active"><a href="{url 'index' %}">Home</a></li>
              <li><a href="">About Us</a></li>
              <li><a href="">Services</a></li>
              <li><a href="">Products</a></li>
              <li class="drop-down"><a href="">Categories</a>
                <ul>
                  <li><a href="">Shoes Category</a></li>
                  <li><a href="">Suits Category</a></li>
                  <li><a href="">Shirts Category</a></li>
                  <li><a href="">General Category</a></li>
                </ul>
              </li>
              <li><a href="#contact">Contact Us</a></li>

            </ul>
          </nav><!-- .nav-menu -->
        </div>
      </div>

    </div>
  </header><!-- End Header -->