.banner1 {
    background-image: url(../assets/img/intro-carousel/1.jpg)
}
.banner2 {
    background-image: url(../assets/img/intro-carousel/2.jpg)
}
.banner3 {
    background-image: url(../assets/img/intro-carousel/3.jpg)
}
.banner4 {
    background-image: url(../assets/img/intro-carousel/4.jpg)
}
.banner5 {
    background-image: url(../assets/img/intro-carousel/5.jpg)
}